<div class="containter">
  <div>
    <mat-card>
      <mat-card-title>Card Layout</mat-card-title>
      <mat-card-subtitle>this is sub title text</mat-card-subtitle>

      <mat-card-content>
        this is card layout contents
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">OK</button>
        <button mat-flat-button color="accent">Continue</button>
        <button mat-flat-button color="warn">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
